.side_bar__wrapper
  = render partial: 'shared/side_bar', collections: @groups
.group_show__wrapper
  %input{class: "group_show__wrapper__image", type: "hidden", value: @group.image}
  %a{href: "/groups/#{@group.id}/posts/new", class: "group_show__wrapper__post"}
    post your sound
  .contents__wrapper
    - @posts.each do |post|
      .contents__wrapper__post
        %img.contents__wrapper__post__image{src: "#{post.image}", id: "image_#{post.id}", onClick: "playSound('audio_#{post.id}');"}
          %audio.contents__wrapper__audio{src: "#{post.sound}", id: "audio_#{post.id}", type: "audio/mp3"}
        .contents__wrapper__title
          = post.title

