%header.header
  .header__bar
    .header__bar__center
      %h1.header__bar__center__title
        = link_to "Deep Sleep Sound", root_path, class: "header__bar__center__title--white"
      %p.header__bar__center__text
        Find your favorite sound here
    .header__bar__side
      = link_to "Logout", destroy_user_session_path, method: :delete, class: 'header__bar__side__logout'
      = link_to "New Category", new_group_path, class: 'header__bar__side__post'
.side_bar__wrapper
  = render partial: 'shared/side_bar', collections: @groups
.contents
  .contents__wrapper
    = render partial: 'shared/posts_block', collections: @posts