= render './groups/main_header'
.contents
  .user__wrapper
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .user__wrapper__form
        .user__wrapper__form--left
          = f.label :email
        .user__wrapper__form--right
          = f.email_field :email, autofocus: true, class: "user__wrapper__form--right--self"
      .user__wrapper__form
        .user__wrapper__form--left
          = f.label :password
        .user__wrapper__form--right
          = f.password_field :password, class: "user__wrapper__form--right--self"
      - if devise_mapping.rememberable?
        .user__wrapper__form__checkbox
          = f.check_box :remember_me, class: "user__wrapper__form__checkbox--box"
          = f.label :remember_me
      .user__wrapper__submit
        = f.submit "Log in", class: "user__wrapper__submit--self"
      .user__wrapper__url
        = render "devise/shared/links"
