%header.header
  .header__bar
    .header__bar__center
      %h1.header__bar__center__title
        = link_to "#{@group.name}", root_path, class: "header__bar__center__title--white"
      %p.header__bar__center__text
        Find your favorite sound here
  - if user_signed_in?
    %p.header__bar__nickname
      = current_user.nickname
    .header__bar__side
      = link_to "Logout", destroy_user_session_path, method: :delete, class: 'header__bar__side__logout'
      = link_to "New Category", new_group_path, class: 'header__bar__side__post'
      = link_to "My Page", user_path(current_user.id), class: 'header__bar__side__mypage'
  - else
    .header__bar__side
      = link_to "Login", new_user_session_path, class: 'header__bar__side__login'
      = link_to "Signup", new_user_registration_path, class: 'header__bar__side__signup'
= render partial: 'shared/side_bar', collections: @groups
.group_show__wrapper
  %input{class: "group_show__wrapper__image", type: "hidden", value: @group.image}
  .group_show__wrapper__sound-post
    = form_for [@group, @post] do |f|
      .group_show__wrapper__sound-post__block
        .group_show__wrapper__sound-post__block--left
          = f.label :Title
        = f.text_field :title, class: "group_show__wrapper__sound-post__block__title", placeholder: "title"
      .group_show__wrapper__sound-post__block  
        .group_show__wrapper__sound-post__block--left
          = f.label :Image
        = f.text_field :image, class: "group_show__wrapper__sound-post__block__image", placeholder: "image url"
      .group_show__wrapper__sound-post__block  
        .group_show__wrapper__sound-post__block--left
          = f.label :Sound
        = f.text_field :sound, class: "group_show__wrapper__sound-post__block__sound", placeholder: "mp3 url"
      .group_show__wrapper__sound-post__block  
        = f.submit class: "group_show__wrapper__sound-post__block__submit"